# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

#media dirs
# media/*

staticfiles/*
!staticfiles/.gitkeep 

core/templates/*
app/static/*
app/templates/pages/*
django_cache/*
.vscode/*
.idea/*
