Django==3.0.4
django_heroku==0.3.1
nltk==3.4.5
numpy==1.18.2
scipy==1.4.1
scikit_learn==0.22.2.post1
unipath==1.1
pdfminer.six==20200402
mysqlclient==1.4.6
django_q==0.9.4
google-cloud-translate==2.0.0
patool==1.12
mammoth==1.4.10
pyunpack
unrar
asgiref
autopep8
pycodestyle
pytz
sqlparse
dj-database-url
python-decouple
gunicorn
whitenoise
