{% extends "layouts/base-site.html" %}

{% block title %} Document Detail {% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class="fade-in">
        <div class="card">
          <div class="card-body">
              <p><strong>Title :</strong> {{ document.title }}</p>
              <p><strong>Author :</strong> {{ document.author }}</p>
              <p><strong>Saved Name :</strong> {{ document.filename }}</p>
              <p><strong>Original Name :</strong> {{ document.original_filename }}</p>
              <p><strong>Uploaded :</strong> {{ document.created }}</p>
              <p><strong>Last Modified :</strong> {{ document.modified }}</p>
              <p><strong>Uploaded by :</strong> {{ document.user.username }}</p>
              <p><strong>Content :</strong></p>
              <iframe height="500px" width="100%" src="{% url 'document.pdf' document.id %}"></iframe>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
              <h3>Similarity Chart</h3>
          </div>
          <div class="card-body">
            <div class="c-chart-wrapper">
              <canvas id="canvas-2" height="500"></canvas>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Similarity Result</h3>
            {{ document.similarity_table | safe }}
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/main.js"></script>
<script>

$(document).ready(function(){
$('#similarity-table tbody').on('click', 'td.expand-btn', function () {
        var tr = $(this).closest('tr');
        var rr = tr.next('tr')

        if ( tr.hasClass('hide') ) {
            rr.show();
            tr.removeClass('hide');
            tr.find('button.expand').removeClass('btn-success')
            tr.find('button.expand').addClass('btn-danger')
            tr.find('button.expand').html("-")
        } else {
            rr.hide();
            tr.addClass('hide');
            tr.find('button.expand').removeClass('btn-danger')
            tr.find('button.expand').addClass('btn-success')
            tr.find('button.expand').html("+")
        }
    } );
})

var barChart = new Chart(document.getElementById('canvas-2'), {
  type: 'line',
  data: {
    labels: [...{{ document.get_similarity.label | safe }}],
    datasets: [
        {
          label: 'Cosine',
          backgroundColor: 'rgba(220, 220, 220, 0.4)',
          borderColor: 'rgba(220, 220, 220, 1)',
          pointBackgroundColor: 'rgba(220, 220, 220, 1)',
          pointBorderColor: '#fff',
          data: [...{{ document.get_similarity.cosine }}]
        },
        {
          label: 'Dice',
          backgroundColor: 'rgba(151, 187, 205, 0.4)',
          borderColor: 'rgba(151, 187, 205, 1)',
          pointBackgroundColor: 'rgba(151, 187, 205, 0.8)',
          pointBorderColor: 'rgba(214,255,228, 1)',
          data: [...{{ document.get_similarity.dice }}]
        },
        {
          label: 'Jaccard',
          backgroundColor: 'rgba(113,220,160, 0.4)',
          borderColor: 'rgba(113,220,160, 1)',
          pointBackgroundColor: 'rgba(113,220,160, 0.8)',
          pointBorderColor: 'rgba(192,255,177,1)',
          data: [...{{ document.get_similarity.jaccard }}]
        },
        {
          label: 'Manhattan',
          type: 'line',
          backgroundColor: 'rgba(77,104,220,0.4)',
          borderColor: 'rgba(77,104,220,1)',
          pointBackgroundColor: 'rgba(77,104,220,0.8)',
          pointBorderColor: 'rgba(191,190,255,0.87)',
          data: [...{{ document.get_similarity.manhattan }}]
        },
        {
          label: 'Euclidean',
          type: 'line',
          backgroundColor: 'rgba(203,66,220,0.4)',
          borderColor: 'rgba(203,66,220,1)',
          pointBackgroundColor: 'rgba(203,66,220,0.8)',
          pointBorderColor: 'rgba(255,156,208,0.89)',
          data: [...{{ document.get_similarity.euclidean }}]
        },
        {
          label: 'Minkowski',
          type: 'line',
          backgroundColor: 'rgba(220,115,117,0.4)',
          borderColor: 'rgba(220,115,117,1)',
          pointBackgroundColor: 'rgba(220,115,117,0.8)',
          pointBorderColor: 'rgba(255,170,190,0.95)',
          data: [...{{ document.get_similarity.minkowski }}]
        },
        {
          label: 'Weighted',
          type: 'line',
          backgroundColor: 'rgba(220,220,59,0.4)',
          borderColor: 'rgba(220,220,59,1)',
          pointBackgroundColor: 'rgba(220,220,59,0.8)',
          pointBorderColor: 'rgba(255,249,192,0.95)',
          data: [...{{ document.get_similarity.weighted }}]
        },
        {#{#}
        {#  label: 'Mahalanobis',#}
        {#  type: 'bar',#}
        {#  backgroundColor: 'rgba(220,28,40,1.0)',#}
        {#  borderColor: 'rgba(220,28,40,1)',#}
        {#  pointBackgroundColor: 'rgba(220,28,40,0.8)',#}
        {#  pointBorderColor: 'rgba(220,124,143,0.95)',#}
        {#  data: [...{{ document.get_similarity.mahalanobis }}]#}
        {#}#}
    ]
  },
  options: {
    responsive: true
  }
}); // eslint-disable-next-line no-unused-vars

</script>

{% endblock javascripts %}
