{% extends "layouts/base-site.html" %}

{% block title %} Document List {% endblock %} 

{% block content %}

    <div class="container-fluid">
      <div class="fade-in">
        <div class="card">
          <div class="card-body">
            <h3 class="mb-5">Documents</h3>
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Filename</th>
                  <th>Title</th>
                  <th>Author</th>
{#                  <th>Keyword</th>#}
                  <th>Uploaded At</th>
                  <th>Last Modified</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for doc in documents  %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ doc.original_filename }}</td>
                  <td>{{ doc.title }}</td>
                  <td>{{ doc.author }}</td>
{#                  <td>{{ doc.keyword }}</td>#}
                  <td>{{ doc.created }}</td>
                  <td>{{ doc.modified }}</td>
                  <td>{{ doc.status_badge | safe }}</td>
                  <td>{{ doc.get_actions | safe }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/main.js"></script>

{% endblock javascripts %}
