<table id="similarity-table" class="table table-responsive table-hover">
  <thead>
    <tr>
        <!-- <th>#</th> -->
        <!-- <th>Title</th>
        <th>Author</th> -->
        <th>Filename</th>
        <th>Dice</th>
        <th>Jaccard</th>
        <th>Cosine</th>
        <th>Manhattan</th>
        <th>Minkowski</th>
        <th>Euclidean</th>
        <th>Weighted</th>
        <th>Mahalanobis</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <!-- <tr class="hide">
      <td class="expand-btn">
          <div class="btn-group">
              <button class="btn btn-sm btn-success">{{ forloop.counter }}</button>
              <button class="btn btn-sm btn-success expand">+</button>
          </div>
      </td> -->
      <!-- <td>{{ item.dataset.title }}</td>
      <td>{{ item.dataset.author }}</td> -->
      <td>{{ item.dataset.original_filename }}</td>
      <td>{{ item.dice }}</td>
      <td>{{ item.jaccard }}</td>
      <td>{{ item.cosine }}</td>
      <td>{{ item.manhattan }}</td>
      <td>{{ item.minkowski }}</td>
      <td>{{ item.euclidean }}</td>
      <td>{{ item.weighted }}</td>
      <td>{{ item.mahalanobis }}</td>
    </tr>
    <!-- <tr style="display: none">
      <td colspan="12" class="p-0">
        <table class="table">
          <tr>
            <td>
              <p><strong>Title :</strong> {{ item.dataset.title }}</p>
              <p><strong>Author :</strong> {{ item.dataset.author }}</p>
              <p><strong>Saved Name :</strong> {{ item.dataset.filename }}</p>
              <p><strong>Original Name :</strong> {{ item.dataset.original_filename }}</p>
              <p><strong>Uploaded :</strong> {{ item.dataset.created }}</p>
              <p><strong>Last Modified :</strong> {{ item.dataset.modified }}</p>
              <p><strong>Uploaded by :</strong> {{ item.dataset.user.username }}</p>
              <p><strong>Content :</strong> <a href="{% url 'document.pdf' item.dataset.id %}" target="_blank"> Link </a> </p>
            </td>
          </tr>
        </table>
      </td>
    </tr> -->
    {% endfor %}
  </tbody>
</table>