<table id="similarity-table" class="table">
  <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Filename</th>
        <th>Cosine</th>
        <th>Jaccard</th>
        <th>Dice</th>
        <th>Manhattan</th>
        <th>Minkowski</th>
        <th>Mahalanobis</th>
        <th>Euclidean</th>
        <th>Weighted</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr class="hide">
      <td>{{ forloop.counter }}</td>
      <td>{{ item.dataset.title }}</td>
      <td>{{ item.dataset.author }}</td>
      <td>{{ item.dataset.original_filename }}</td>
      <td>{{ item.cosine }}</td>
      <td>{{ item.jaccard }}</td>
      <td>{{ item.dice }}</td>
      <td>{{ item.manhattan }}</td>
      <td>{{ item.minkowski }}</td>
      <td>{{ item.mahalanobis }}</td>
      <td>{{ item.euclidean }}</td>
      <td>{{ item.weighted }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>